@* @{
    Layout = "_Layout";
} *@
<h1>Sono la view per l'action Index dell'HomeController</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, nihil voluptatem vitae ducimus iste accusamus dolorem laudantium exercitationem nostrum expedita, quos dicta qui. Nam quidem suscipit voluptatem, rem excepturi optio?</p>
<p>Doloremque praesentium non sunt beatae dolore pariatur culpa nesciunt, incidunt ipsa in maxime dolores veniam earum aliquam eos est minima, officia quo corporis eius. Earum quaerat ducimus quia non totam!</p>
<p>Facere vel consequatur fugit! Cupiditate quasi cumque ratione sapiente assumenda, omnis harum totam nam? Sed nihil praesentium exercitationem? Cumque eveniet deleniti nobis nemo saepe vitae voluptate quae sequi harum est.</p>
<p>Similique officiis doloribus placeat sint aspernatur nulla at dolore amet adipisci? Totam, beatae fuga culpa et numquam impedit quia, expedita maiores error quae explicabo vero fugit delectus mollitia! Maxime, vel.</p>
<p>Ad animi sapiente odio doloribus cum numquam voluptates omnis magnam esse quae nesciunt dignissimos, facilis vero veniam labore praesentium maxime beatae expedita doloremque, itaque sunt consectetur quidem. Voluptates, id itaque.</p>
